language: en
#pipeline: supervised_embeddings

pipeline:
- name: SpacyNLP
- name: SpacyTokenizer
- name: SpacyFeaturizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: "char_wb"
  min_ngram: 1
  max_ngram: 4
- name: DIETClassifier
  epochs: 100
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 100

policies:
#- batch_size: 50
#  epochs: 200
#  max_training_samples: 300
#  name: KerasPolicy
- fallback_action_name: action_default_fallback
  name: RulePolicy
- max_history: 5
  name: MemoizationPolicy
- name: RulePolicy
